html, body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

table {
  margin: auto;
  text-align: center;
}

td {
  width: 25%;
}

.table-active {
  background-color: #adb5bd;
}